@font-face {
    font-family: "popnes";
    src: url(../fonts/Poppins-Regular.ttf);
}
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    direction: ltr;
}
body{
    background-color: #E5E5E5;
    font-family: "popnes";
    font-style: normal !important;
    font-weight: 500 !important;
}
.header-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}
.nav-link span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 53px;
}
span.nav-link {
    background-color: white;
    border-radius: 10px;
    width: 124px;
    height: 50px;
    box-shadow: 0px 21px 40px rgba(0, 0, 0, 0.06);
    text-align: center;
    line-height: 48px;
    font-weight: 600;
}
section.team-name{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 160px auto;
    align-items: center;
    width: 50%;
}
section.team-name .image img {
    border-radius: 12px;
    background-color: transparent;
    width: 99px;
    height: 99px;
}
section.team-name span.name-club{
    background-color: transparent;
    margin-top: -5.45%;
    width: 163px;
    height: 54px;
    font-size: 36px;
    line-height: 43px;
    font-weight: 600;
}
span.team{
    background-color: transparent;
    width: 83px;
    height: 44px;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
}
main{
    display: flex;
    flex-direction: row;
}
.player-container{
    margin: 0 auto;
    width: 152px;
    height:154px;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-container .image-player {
    width: 68px;
    height: 68px;
    background-color: #FFFFFF;
    box-shadow: 0px 11px 50px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
    margin: 0 auto;
}
.player-container .image-player img {
    border-radius: 18px;
    width: 39.37px;
    height: 59.65px;
    margin-top: 8px;
}
.player-container .player-num{
    display: flex;
    padding-top: 26px;
    margin-right: -16px;
    z-index: 1;
    margin-bottom: 31px;
}
.player-container span.name  {
    margin-top: 5px;
}


